@font-face {
    font-family: Lagoda;
    src: url("./fonts/LagodaClassic.otf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14pt;
    background-color: #e3e3e3;
    font-family: Lagoda;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100;
    object-fit: cover;
}
table {
    width: 100;
    margin: 20px 0;
    text-align: center;
    table-layout: fixed;
}

table th, table td {
    background-color: white;
    border: solid 1px black;
    padding: 10px 5px;
}

td:focus {
    background-color: black;
}

h1,h2,h3,h4,p {
    padding: 5px 0;
}

p.small {
    font-size: 11pt;
    color: #444;
}
p.right {
    text-align: right;
}
p.left {
    text-align: left;
}
p.center {
    text-align: center !important;
}
div.content {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}
div.message {
    text-align: center;
    margin-top: 40px;
    font-size: 20pt;
    color: gray;
}
div.head {
    padding: 20px 0;
    margin: 40px 0 20px;
    font-size: 20pt;
    text-align: center;
    border-bottom: solid 2px black;
}
div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.col {
    position: relative;
    width: 49%;
    height: 740px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
div.col textarea{
    resize: none;
    font-size: 0.7em;
    height: 75px;
    margin-bottom: -15px;
}
div.col input.id{
    visibility: hidden; 
    height: 0px;
    margin: -5px;
}
div.col input.offer-submit{
    margin: -10px 0;
}
div.col div.col-footer{
    width: 80%;
    position: absolute;
    bottom: 20px;

    display: flex;
    flex-direction: row;
}

div.col p.of-status{
    left: 20px;
    text-align: left;
}
div.col p.of-status{
    right: 20px;
    text-align: left;
}
div.col div.col-footer p.of-time{
    margin-left: 46%;
}
div.col p.of-id{
    font-size: 0.7em;
}
div.col img {
    width: 100%;
    height: 300px;
}
div.col h2 {
    font-size: 1.4em;
    text-align: center;
}
div.col-footer h3{
    color: rgb(229, 11, 11);
    text-transform: uppercase;
}
div.col p {
    text-align: left;
}
div.col p.small {
    text-align: right;
}
form {
    max-width: 700px;
    margin: 0 auto;
    text-align:center;
}
form input, form select, form textarea, form button {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    font-size: 14pt;
    padding-left: 10px;
    border: solid 1px black;
    font-family: Lagoda;
}

form input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
form input[type=file]{
    height: 30px;
    padding: 0;
    border: none;
}
form textarea{
    padding: 10px;
    height: 100px;
}
form button{
    cursor: pointer;
    padding: 0;
    transition: .2s;
    color: white;
    border: none;
    background-color: #111;
}
form button:hover{
    background-color: black;
}
form div.line{
    display: flex;
    align-items: center;
}
header{
    background-color: #fff;
    border-bottom: solid 2px black;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}
header div.top {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-bottom: solid 2px black;
}
header nav {
    display: flex;
    align-items: center;
}
header p{
    width: 100%;
    text-align:center;
}
header img{
    height: 50px;
}
main {
    margin-bottom: 40;
}