<div class="col">
    <h3>{{ offer.name}}</h3>
    <div class="col-header">
        {% if name=="Профиль" %}<div class="col-one"><h3 class="of-status">{{ offer.status }}</h3></div>{% endif %}
        <div class="col-two"><p class="of-time">{{ offer.time.strftime('%d.%m.%y %H:%M')}}</p></div>
    </div>
    <img src="../static/user_images/{{offer.photo}}">
    <p><b>Категория:</b> {{ offer.category}}</p>
    {% if name=="Профиль" %}
        <p><b>Описание:</b> {{ offer.description}}</p>
        {% if current_user.username=="admin" %}
            {% if offer.status=="новая" %}
                <form action="/reject_offer" method="post">
                    <textarea name="reason" id="reason" cols="30" rows="10"></textarea>
                    <input type="number" name="id" class="id" value="{{offer.id}}">
                    <input type="submit" class='offer-submit' value="Отклонить">
                </form>
                <form action="/accept_offer" method="post">
                    <input type="number" name="id" class="id" value="{{offer.id}}">
                    <input type="submit" class='offer-submit' value="Принять">
                </form>
            {% endif %}
        {% else %}
        <form action="/delete_offer" method="post">
            <input type="number" name="id" class="id" value="{{offer.id}}">
            <input type="submit" class='offer-submit' value="Удалить">
        </form>
        {% endif %}
    {% endif %}
</div>