<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ажмин страница</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="top">
            <h1>Заголовок</h1>
            <h2>Доп текст</h2>
        </div>
        <div class="content">
            <nav>
                <p><a href="index.html"><img src="../static/images/logo.png"></a></p>
                <p><a href="index.html">Вход</a></p>
                <p><a href="profile.html">Личный кабинет</a></p>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="head">Категории</div>
            <form action="admin.html" enctype="multipart/form-data" method="post">
                <input type="text" name="title" placeholder="Название" required pattern="{1,64}">
                </textarea>
                <select required name="category" id="">
                    <option value selected disabled>Категория</option><button>Создать Заявку</button>
                    <option value>Первая Категория</option>
                    <option value>Вторая Категория</option>
                </select>
                <button>Создать Заявку</button>
            </form>
            <div class="head">Новые заявки</div>
            <div class="row">
                <div class="col">
                    <img src="../static/images/Снимок экрана 2022-09-06 102946.png">
                    <p>Статус заявки: <input type="text" name="status" placeholder="Изменить статус заявки"></p>
                    <p>Создан пользователем: <b>Василий Петрович</b></p>
                    <p>Описание</p>
                    <p>Из-за таких ям на дорогах у меня на машине появилась цензура на номере</p>
                    <input type="text" name="status" placeholder="Добавить коментарий"><br>
                    <button>Обновить</button>
                </div>
                <div class="col">
                    <img src="../static/images/Снимок экрана 2022-09-06 103010.png">
                    <p>Статус заявки: <input type="text" name="status" placeholder="Изменить статус заявки"></p>
                    <p>Создан пользователем: <b>Игорб</b></p>
                    <p>Описание</p>
                    <p>Мы пытались зарисовать ямы спомощью краски нечего не получилось :( почините дороги пожожда</p>
                    <input type="text" name="status" placeholder="Добавить коментарий"><br>
                    <button>Обновить</button>
                </div>
            </div>
            <div class="head">Одобренные заявки</div>
            <p class="small"></p>
            <div class="row">
                <div class="col">
                    <img src="../static/images/pic1.png">
                    <h3>Одобренная заявка</h3>
                    <p>Категория заявки: <b>Первая категория</b></p>
                    <p class="small">2022-01-21 09:00:00</p>
                </div>
                <div class="col">
                    <img src="../static/images/pic2.png">
                    <h3>Одобренная заявка</h3>
                    <p>Категория заявки: <b>Вторая категория</b></p>
                    <p class="small">2022-01-21 09:00:00</p>
                </div>
                <div class="col">
                    <img src="../static/images/pic3.png">
                    <h3>Одобренная заявка</h3>
                    <p>Категория заявки: <b>Первая категория</b></p>
                    <p class="small">2022-01-21 09:00:00</p>
                </div>
                <div class="col">
                    <img src="../static/images/pic4.png">
                    <h3>Одобренная заявка</h3>
                    <p>Категория заявки: <b>Вторая категория</b></p>
                    <p class="small">2022-01-21 09:00:00</p>
                </div>
            </div>
            <div class="head" id="register">Регистрация</div>
            <form method="post">
                <input type="text" name="fio" placeholder="ФИО (кириллица, дефис, пробел, до 32 символов)" pattern="[а-яА-ЯёЁ\-\s]{1,32}" required>
                <input type="text" name="login" placeholder="Логин (латиница, до 16 символов)" pattern="[а-яА-ЯёЁ\-\s]{1,16}" required>
                <input type="email" name="email" placeholder="Email (наличие @, до 32 символов)" pattern=".{1,32}" required>
                <input type="password" name="password" placeholder="Пароль (до 32 символов)" pattern=".{1,32}" required>
                <input type="password" name="password_check" placeholder="Повтор пароль" required>
                <div class="line">
                    <input type="checkbox"required>
                    <p>Согласие на обработку персональных данных</p>
                </div>
                <button>Зарегистрироваться</button>
            </form>
            <div class="head" id="login">Войти</div>
            <from action="profile.html" method="POST">
                <input type="text" name="login" placeholder="Логин">
                <input type="password" name="password" placeholder="Пароль">
                <button>Войти</button>
            </from>
        </div>
    </main>
</body>
</html>