{% extends "base.html" %}

{% block content %}
<main>
    <div class="content">
        <div class="head">Решённые проблемы</div>
        <div class="row">
            <div class="col">
                <h2>Очень оригинальное название</h2>
                <img src="../static/images/img1.png" alt="">
                <p>Описание вот этой вот картинки я ее конечно не вижу но вроде классная</p>
                <p>категория заявки: <b>Первая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <h2>Очень оригинальное название</h2>
                <img src="../static/images/img1.png" alt="">
                <p>Описание вот этой вот картинки я ее конечно не вижу но вроде классная</p>
                <p>категория заявки: <b>Вторая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <h2>Очень оригинальное название</h2>
                <img src="../static/images/img1.png" alt="">
                <p>Описание вот этой вот картинки я ее конечно не вижу но вроде классная</p>
                <p>категория заявки: <b>Первая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <h2>Очень оригинальное название</h2>
                <img src="../static/images/img1.png" alt="">
                <p>Описание вот этой вот картинки я ее конечно не вижу но вроде классная</p>
                <p>категория заявки: <b>Вторая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}