{% extends "base.html" %}

{% block content %}
<main>
    <div class=content>
        <div class="head">Последние одобренные заявки</div>
        <p class="small">Количество одобренных заявок - 5</p>
        <div class="row">
            <div class="col">
                <img src="../static/images/img1.png" alt="">
                <h3>Одобренная заявка</h3>
                <p>категория заявки: <b>Первая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <img src="../static/images/img1.png" alt="">
                <h3>Одобренная заявка</h3>
                <p>категория заявки: <b>Вторая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <img src="../static/images/img1.png" alt="">
                <h3>Одобренная заявка</h3>
                <p>категория заявки: <b>Первая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
            <div class="col">
                <img src="../static/images/img1.png" alt="">
                <h3>Одобренная заявка</h3>
                <p>категория заявки: <b>Вторая категория</b></p>
                <p class="small">2022-01-21 09:00:00</p>
            </div>
        </div>
        
            
        
    </div>
</main>
{% endblock %}