{% extends "base.html" %}

{% block content %}
    <main>
        <div class=content>
        {% if current_user.username=="admin" %}
        <main>
            <div class="content">
                <div class="head">Категории</div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name(size=32) }}
                    </p>
                    {{form.submit}}
                </form>
                <div class="head">Новые заявки</div>
                <div class="row">
                    {% for offer in offers %}
                        {% if offer.status=='новая' %}
                            {% include '_offer.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="head">Одобренные заявки</div>
                <p class="small"></p>
                <div class="row">
                    {% for offer in offers %}
                        {% if offer.status=='одобрена' %}
                            {% include '_offer.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>

        {% else %}

        <div class="head">Ваши заявки</div>
        <div class="row">
            {% for offer in offers %}
                {% include '_offer.html' %}
            {% endfor %}
        </div>
        <div class="head">Добавить Заявку</div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.description(size=50) }}
            </p>
            <p>
                {{ form.category(size=32) }}
            </p>
            {{form.submit}}
        </form>
        {% endif %}
        </div>
    </main>
{% endblock %}